<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/layoutIndex::layoutIndex">
    <base target="_blank"/>
</head>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" class="btn btn-primary dropdown-text" onclick="btn_add()"><i
                    class="fa fa-plus">新建网站返点</i></a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-disabled" onclick="btn_disabled()"><i class="fa fa-stop-circle"></i>禁用</a>
                </li>
                <li><a id="NF-enabled" onclick="btn_enabled()"><i class="fa fa-play-circle"></i>启用</a>
                </li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
<script th:src="@{/scripts/rebate/adminRebateSite.js}"></script>
</html>

