<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/layoutIndex::layoutIndex"></head>

<link href="../../static/styles/tableUI.css"
      th:href="@{/styles/tableUI.css}" rel="stylesheet"/>
<script th:src="@{/vendor/FloatCompute.js}"></script>
<script th:src="@{/scripts/rebate/rebateCash.js}"></script>

<style>
    .clear {
        clear: both;
        overflow: hidden
    }

    .fl {
        float: left
    }

    .fr {
        float: right
    }
</style>
<div class="wrapper">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#a" data-toggle="tab">返利提现</a></li>
    </ul>
    <div class="tab-content" style="padding-top: 5px;">
        <div id="a" class="tab-pane active" style="padding: 15px;">
            <form name="form">
                <ul class="pop-list">
                    <li>
                        <div style="background-color:bisque">
                            公告：现在Panli可以申请支付的返利是<em id="can" style="color:orangered;font-size:medium"></em> 元,本月还可以提现
                            <em id="rebateCount" style="color:orangered;font-size:medium"></em>&nbsp;次<br/>
                            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 每次申请的提现,会于次月5日统一发放
                        </div>
                    </li>
                    <li>
                        <label>开户人</label>
                        <select id="OpenAcountName" name="OpenAcountName" class="form-control required"
                                style="width:240px" onchange="ChangeType()">
                        </select>
                    </li>
                    <li>
                        <label>银行名称</label>
                        <label id="BankName"> </label>
                    </li>
                    <li class="company">
                        <label>支行名称</label>
                        <label id="BankBranchName"> </label>
                    </li>
                    <li>
                        <label>银行卡号</label>
                        <label id="BankNum"> </label>
                    </li>
                    <li>
                        <label>预计到账时间</label>
                        <label id="Arrival"> </label>
                    </li>
                    <li>
                        <label>提现金额</label>
                        <input id="Money" name="Money" type="text" style="width:240px"/>
                        <div class="btn-group">
                            <a id="NF-add" class="btn btn-primary dropdown-text" onclick="btn_Submit()">确认提交</a>
                        </div>
                    </li>
                    <li>
                        <label id="errMes" style="color:red"></label>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    //打开提现记录
    function lookSite() {
        var id = "";
        var name = "";
        var url = "/Rebate/RebateManger/CashRecord";

        var menus = top.clients.authorizeMenu;
        menus.forEach(function (e) {
            var nodes = e.ChildNodes;
            nodes.forEach(function (a) {
                if (a.City_UrlAddress == url) {
                    name = a.City_FullName;
                    id = a.City_Id;
                }
            });
        });


        var obj = {dataUrl: url, dataId: id, menuName: name}
        top.wen.tabMenu(obj)
    }
</script>
</html>



