<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/layoutForm::layoutForm"></head>
<link href="../../static/vendor/select2/select2.min.css"
      th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet"/>
<script th:src="@{/vendor/select2/select2.min.js}"></script>
<script th:src="@{/scripts/rebate/rebateSiteForm.js}"></script>

<div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">网站返点设置</a></li>
    </ul>
    <div style="padding-top: 20px; margin-right: 50px;">
        <table class="form">
            <tr>
                <th class="formTitle">网站名称</th>
                <td class="formValue">
                    <select id="siteName" class="form-control required" style="width:240px">
                        <option value="3620194" selected="selected">------请选择------</option>
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <th class="formTitle">用户</th>
                <td class="formValue">
                    <select id="siteUser" class="form-control required" style="width:240px">
                        <option value="3620194" selected="selected">------请选择------</option>
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <th class="formTitle">网站返利点</th>
                <td class="formValue">
                    <input id="sitePoints" name="sitePoints" type="text" class="form-control required"
                           style="width:260px"
                           placeholder="请输入返利点"/>
                </td>
                <td></td>
            </tr>
            <tr>
                <th class="formTitle">网站Url</th>
                <td class="formValue">
                    <label id="siteUrl"></label>
                </td>
                <td></td>
            </tr>
            <tr>
                <th class="formTitle "></th>
                <td class="formValue">
                    <label id="siteFormMes" style="color:red"></label>
                </td>
            </tr>
        </table>
    </div>
</div>
</html>
