<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sixcity.mapper.ProductRecordMapper">

    <sql id="selectColumns">
        SELECT
            a.Id,
            a.TransId,
            a.OperationName,
            a.OperationType,
            a.OldValue,
            a.NewValue,
            a.Remark,
            a.CreateTime,
            a.UpdateTime
        FROM Product_Record_t a
    </sql>

    <!-- 插入商品信息 -->
    <insert id="insert">
        INSERT INTO Product_Record_t (
            TransId,
            OperationName,
            OperationType,
            OldValue,
            NewValue,
            Remark,
            CreateTime,
            UpdateTime
        ) VALUES (
            #{transId},
            #{operateName},
            #{operateType},
            #{oldValue},
            #{newValue},
            #{remark},
            #{createTime},
            #{updateTime}
        )
    </insert>


</mapper>
