<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sixcity.mapper.UserSiteRebatePointsMapper">

    <sql id="selectColumns">
        SELECT
            a.Id,
            a.AppId,
            a.SiteId,
            a.SitePoints,
            a.Enable,
            a.CreateTime,
            a.UpdateTime
        FROM User_SitePoint_Mapping_t a
    </sql>

    <!-- 插入用户网站返点信息 -->
    <insert id="insert">
        INSERT INTO User_SitePoint_Mapping_t (
            AppId,
            SiteId,
            SitePoints,
            Enable,
            CreateTime,
            UpdateTime
        ) VALUES (
            #{appId},
            #{siteId},
            #{sitePoints},
            #{enable},
            #{createTime},
            #{updateTime}
        )
    </insert>

    <!-- 更新用户网站返点 -->
    <update id="update">
        UPDATE User_SitePoint_Mapping_t
        SET
            `SitePoints` = #{sitePoints}
        WHERE AppId = #{appId} AND SiteId = #{siteId}
    </update>

    <!-- 查找网站返点 -->
    <select id="findByAppId" resultType="org.sixcity.domain.UserSiteRebatePoints">
        <include refid="selectColumns"/>
        WHERE AppId = #{appId}
    </select>
    <select id="findBySiteId" resultType="org.sixcity.domain.UserSiteRebatePoints">
        <include refid="selectColumns"/>
        WHERE AppId = #{appId} AND SiteId = #{siteId}
    </select>

    <!-- 查找网站返点信息是否存在-->
    <select id="checkSiteRebatePointsExist" resultType="boolean">
        SELECT CASE WHEN count(Id) > 0
            THEN 1
               ELSE 0 END
        FROM User_SitePoint_Mapping_t
        WHERE AppId = #{appId} AND SiteId = #{siteId}
    </select>

</mapper>
