<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../static/styles/framework-font.css"
          th:href="@{/styles/framework-font.css}" rel="stylesheet"/>
    <link href="../../static/styles/framework-theme.css"
          th:href="@{/styles/framework-theme.css}" rel="stylesheet"/>
    <link href="../../static/vendor/bootstrap/bootstrap.min.css"
          th:href="@{/vendor/bootstrap/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../../static/vendor/wdtree/tree.css"
          th:href="@{/vendor/wdtree/tree.css}" rel="stylesheet"/>
    <link href="../../static/vendor/jqgrid/jqgrid.css"
          th:href="@{/vendor/jqgrid/jqgrid.css}" rel="stylesheet"/>
    <link href="../../static/styles/framework-ui.css"
          th:href="@{/styles/framework-ui.css}" rel="stylesheet"/>
    <style>
        html, body {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>

<script src="https://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{/vendor/jquery/jquery-2.1.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js"
        th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/vendor/bootstrap/bootstrap.js}"></script>
<script src="https://cdn.jsdelivr.net/jquery.layout/1.4.3/jquery.layout.min.js"
        th:src="@{/vendor/layout/jquery.layout.js}"></script>
<script th:src="@{/vendor/wdtree/tree.js}"></script>
<script src="https://cdn.jsdelivr.net/jqgrid/4.6.0/jquery.jqGrid.min.js"
        th:src="@{/vendor/jqgrid/jqgrid.min.js}"></script>
<script th:src="@{/vendor/jqgrid/grid.locale-cn.js}"></script>
<script th:src="@{/vendor/framework-ui.js}"></script>
</body>
</html>